@import "tailwindcss";

@font-face {
  font-family: "MD UI XS";
  src: url("./fonts/MDUIXSTrial-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  ascent-override: 100%;
}

@font-face {
  font-family: "MD UI XS";
  src: url("./fonts/MDUIXSTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  ascent-override: 100%;
}

@font-face {
  font-family: "MD UI XS";
  src: url("./fonts/MDUIXSTrial-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  ascent-override: 100%;
}

html {
  background: white;
  scrollbar-width: none;
  scroll-behavior: none;
}

html::-webkit-scrollbar {
  display: none;
}

html, body, #root {
  width: 100%;
}

#root {
  margin: 0 auto;
}

body {
  font-family: "MD UI XS", sans-serif;
  background: white;
  cursor: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-synthesis: none;
}

*, *::before, *::after {
  cursor: none !important;
}



